* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

:root {
    --purple: #6d28d9;
    --purple-light: #a78bfa;
    --purple-very-light: #f5f3ff;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

#container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(5, 1fr);
}

#side-bar {
    background-color: var(--purple);
    padding: 1rem;
    grid-row: 1 / 6;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 10% 45% 45%
}

#side-bar-top {
    display: flex;
    align-items: center;
    gap: 10px;
}

#dashboardIcon {
    width: 40px;
}

#side-bar-links-one,
#side-bar-links-two {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    row-gap: 30px;
    column-gap: 5px;
}


#side-bar-title{
    font-size: 24px;
}

.side-bar-links,
#side-bar-title {
    color: white;
    font-weight: bold;
}

#header {
    background-color: var(--purple-very-light);
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

#header-left,
#header-right {
    display: grid;
}

#searchIcon {
    width: 30px;
}

#userIconBig {
    width: 50px;
}

#header-left-top {
    display: flex;
    gap: 0.5rem;
    align-items: flex-end;
}

input {
    flex: 1;
    height: 2rem;
    max-width: 500px;
    border-width: 0px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px var(--purple-light);

}

#header-left-bottom {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: end;
    gap: 1rem;
}

#header-right {
    gap: 10px;
}

#header-right-top,
#header-right-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 1rem;
}

#bellIcon,
#userIconSmall {
    width: 2rem ;
}

button {
    background-color: var(--purple-light);
	border-radius:27px;
	border:2px solid var(--purple);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
    font-weight: 800;
	padding:7px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px var(--purple);
    flex: 1;
}

button:hover {
    background-color: var(--purple);
}

#main-content {
    background-color: lightgrey;
    grid-row: 2 / 6;
}

#home {
    fill: white;
}