* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

#container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(5, 1fr);
}

#side-bar {
    background-color: rgb(80, 91, 255);
    grid-row: 1 / 6;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 10% 45% 45%
    
}

#side-bar-links-one,
#side-bar-links-two {
    display: grid;
    gap: 30px;
}


#side-bar-title{
    font-size: 24px;
}

.side-bar-links,
#side-bar-title {
    color: white;
    font-weight: bold;
}

#header {
    background-color: gray;
}

#main-content {
    background-color: lightgrey;
    grid-row: 2 / 6;
}

#home {
    fill: white;
}